{#
  * Available variables:
   - items: array
   - isUserAdmin: bool
#}

<ul class="list">
{% for item in items %}
  <li>{{ item }}</li>
{% endfor %}
</ul>

{% for item in items %}
  {% if isUserAdmin %}
    <div class="admin">{{ item | upper }}</div>
  {% else %}
    <div>{{ item }}</div>
  {% endif %}
{% endfor %}
