th.ksort, img.heart, span.cardName, span.cardEdition { cursor:pointer }

tbody#tableCards td {
  position: relative;
}

img.cardImg {
  width: 150px;
  position: absolute;
  display: none;
  z-index: 1
}

span.cardName:hover { color: orange }

div.editionDates {
  background-color: orange;
  border-radius: 4px;
  width: 120px;
  padding: 4px;
  display: none;
  position: absolute;
  z-index: 1;
  font-size: .8em
}
