
body {font-size: 10pt;}
h1 {font-size: 2em;}
h2 {font-size: 1.8em;}

/* Pre Header */
div#preheader {
  height: 24px;
  background-color: #194211;
  width: 940px;
  margin-left:15px;
  text-align: right
}

div#preheader nav ul { list-style: none }
div#preheader nav ul li {
  display: inline-block;
  margin-right: 20px
}
div#preheader nav ul li a { color: white }

/* Header */
header#site_header {
  height: 160px;
  background: url('../img/background.jpg') #A7D826 0 -410px no-repeat;
}

div#block-starter-branding {
  position: relative;
  top: 25px;
  left: 200px
}

div#site_name {
  background-color: white;
  width: 220px;
  opacity: .8;
  padding: 8px
}

div#site_name a {
  font-size: 36px;
  color: #417621;
  font-family: Verdana, Arial, sans-serif;
  text-decoration: none
}


/* Menu principal */
nav#block-starter-main-menu {
  position: relative;
  top: 45px
}

nav#block-starter-main-menu ul {
  list-style: none
}

nav#block-starter-main-menu ul li {
  display: inline-block;
  background-color: #588246;
  padding: 10px;
  border-radius: 6px;
  font-size: 1.1em;
  border: 1px white solid;
  margin-right: 10px
}

nav#block-starter-main-menu ul li:hover {
  background-color: #1D2B14;
}

nav#block-starter-main-menu ul li a {
  color: white;
  text-decoration: none
}

nav#block-starter-main-menu h2 {
  display: none
}

/* Sidebar */

div.sidebar_block, div#block-starter-search {
  background-color: #EEE;
  border-radius: 6px;
  padding: 10px;
  margin: 20px 0
}

div.sidebar_block h2, div#block-starter-search h2 {
  color: #1D2B14;
  padding-bottom: 4px;
  border-bottom: 1px solid #777;
}

/* photos joueurs */
div.sidebar_block div.views-field-field-photo {
  display: none;
  position: absolute;
  top: 0;
  left: 120px;
}

/* FOOTER */
div#block-mentionslegales {
  height: 80px;
  background-color: #DDD;
  padding: 10px;
  font-size: .8em;
  text-align: center;
  padding-top: 40px
}


/* CONTENT */
article.player {
  float: left;
  margin-right: 20px
}
article.player h3 {margin-bottom: 0}
article.player img {margin-top: 10px}

div.description {
  background-color: #EEE;
  border-radius: 4px;
  box-shadow: 4px 4px rgba(50%, 50%, 50%, .25);
  padding: 8px
}

li.node-readmore {display: none}

span.ball {
  padding-right: 30px;
  background: url('http://localhost/drupal/themes/custom/starter/img/football.png') 30px 0 no-repeat
}

div.description strong.description_label {
  cursor: pointer
}

div.description div.description_content {
  display: none;
}





/*** ****/
